$defaultFont: '微软雅黑 Light',
'Segoe UI',
Tahoma,
Geneva,
Verdana,
sans-serif;
$white: #FFF;
$black: #000;
$borderColor: #E6E6E6;
$blue: #6CF;
$blueShadow: rgba(102, 204, 255, 0.4);
$red: #E81123;
$fontColor: #5E5E5E;
$fontLightColor: #D7D7D7;
$rounded: 4px;
$fakeBlurColor: rgba(0, 0, 0, 0.05);
$oneLineControlsHeight: 40px;
$ControlsWidth: 200px;
$leftMenuWidth: 260px;
@mixin borderNormal {
	border: {
		width: 1px;
		style: solid;
		color: $borderColor;
		radius: $rounded;
	}
}

@mixin prefix($property, $value, $prefixes: ()) {
	@each $prefix in $prefixes {
		#{$prefix}#{$property}: $value;
	}
	#{$property}: $value;
}

@mixin oneLineControlsHeight ($height) {
	height: $height;
	line-height: $height;
}

@import url(chooselang.scss);
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
	padding: 0;
	margin: 0;
}

h1 {
	font-size: 2.2em;
}

h2 {
	font-size: 1.8em;
	font-weight: 200;
	height: 60px;
	line-height: 60px;
}

h3 {
	font-size: 1.4em;
}

a {
	text-decoration: none;
}

table {
	border-spacing: 0;
}

fieldset,
img {
	border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
	font: {
		weight: normal;
		style: normal;
	}
}

strong {
	font-weight: bold;
}

ol,
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

caption,
th {
	text-align: left;
}

q:before,
q:after {
	content: '';
}

abbr,
acronym {
	border: 0;
}

/* Custom CSS
 * --------------------------------------- */

body {
	font: {
		family: $defaultFont;
		size: 20px;
	}
	background-color: $white;
	color: #5E5E5E;
}

.wrap {
	margin: {
		left: auto;
		right: auto;
	}
	width: 960px;
	position: relative;
}

h1 {
	font-size: 6em;
}

p {
	font-size: 1em;
	padding-bottom: 10px;
}

kbd {
	position: relative;
	top: -4px;
	font-size: 0.8em;
	font-family: $defaultFont;
	box-shadow: 1px 0 1px 0 #EEE, 0 2px 0 2px #CCC, 0 2px 0 3px #666;
	border-radius: 3px;
	margin: 0 3px 0 3px;
	padding: 1px 5px;
	cursor: default;
}

.intro {
	p {
		width: 50%;
		margin: 0 auto;
		font-size: 1.5em;
	}
}

#menu {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	z-index: 70;
	width: $leftMenuWidth;
	padding-top: 40px;
	margin: 0;
	background: $fakeBlurColor;
	text-shadow: 0 0 100px 2px $black;
	overflow: hidden;
	li {
		@include oneLineControlsHeight (60px);
		margin: 0;
		width: $leftMenuWidth;
		font-weight: 100;
		&.active {
			a {
				font-weight: 400;
				color: $blue;
				font-size: 1.4em;
				text-shadow: 0 0 40px 4px $blueShadow;
				cursor: default;
				&:hover {
					box-shadow: none;
					background: transparent;
				}
			}
		}
		a {
			padding-left: 80px;
			display: block;
			height: 100%;
			text-decoration: none;
			color: rgba(0, 0, 0, 0.4);
			white-space: nowrap;
			&:hover {
				background: $white;
				box-shadow: 0 0 40px $white;
				color: $blue;
			}
		}
	}
}

#exitApp {
	@include oneLineControlsHeight ($oneLineControlsHeight);
	font-size: 1.2em;
	font-weight: 100;
	position: absolute;
	right: 0;
	top: 0;
	width: $oneLineControlsHeight;
	text-align: center;
	padding: 0;
	z-index: 99;
	a {
		display: block;
		height: 100%;
		color: #5E5E5E;
		&:hover {
			text-shadow: 0 0 100px 30px $red;
			color: $red;
		}
	}
}

#fullpage {
	padding: {
		top: 0;
		right: 0;
		left: $leftMenuWidth;
		bottom: 0;
	}
}

fieldset {
	padding: {
		top: 0;
		right: 40px;
		bottom: 0;
		left: 40px;
	}
	margin: {
		right: -40px;
		bottom: 10px;
		left: -40px;
	}
	&:hover {
		background-color: $fakeBlurColor;
	}
	legend {
		@include oneLineControlsHeight (60px);
		font-size: 1.4em;
		font-weight: 200;
		cursor: default;
		float: left;
	}
	div {
		clear: both;
	}
}

.page {
	cursor: default;
	padding: {
		top: 40px;
		right: 40px;
		bottom: 0;
		left: 40px;
	}
}

div.hotkey {
	@include borderNormal;
	@include oneLineControlsHeight ($oneLineControlsHeight);
	width: $ControlsWidth;
	font-size: 1em;
	background-color: transparent;
	box-sizing: border-box;
	float: right;
	clear: none;
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer;
	text-align: center;
	&:hover {
		background-color: $white;
	}
}

#intervals {
	position: relative;
	z-index: 1;
	float: right;
	width: $ControlsWidth;
	padding-left: 0;
	padding-right: $ControlsWidth/2;
	background-color: transparent;
	&:hover+#min {
		background-color: $white;
	}
}

#min {
	border-radius: $rounded;
	float: right;
	position: relative;
	left: $ControlsWidth;
	width: $ControlsWidth/2;
	padding-left: $ControlsWidth/2;
	text-align: center;
}

#langChoose {
	clear: both;
}

.undoredoMode {
	kbd {
		box-shadow: none;
	}
	li.lightLine {
		border-radius: $rounded;
	}
	&:hover kbd {
		box-shadow: 1px 0 1px 0 #EEE, 0 2px 0 2px #CCC, 0 2px 0 3px #666;
	}
	&>.optionList {
		opacity: 0;
	}
	&:hover>.optionList {
		opacity: 1;
		transition: opacity 1s ease;
	}
	&:hover {
		li.lightLine {
			background-color: $white;
		}
	}
}

.optionList {
	margin-top: 10px;
	display: block;
	clear: both;
	.checkText,
	.hotkey {
		margin-top: 0;
	}
	&>li {
		@include oneLineControlsHeight ($oneLineControlsHeight);
		margin-bottom: 10px;
		padding-left: 10px;
		cursor: default;
	}
}

ul#supportList {
	li {
		@include oneLineControlsHeight ($oneLineControlsHeight);
		padding: {
			top: 10px;
			right: 40px;
			bottom: 10px;
			left: 40px;
		}
		margin: {
			right: -40px;
			bottom: 10px;
			left: -40px;
		}
		cursor: pointer;
		clear: both;
		display: block;
		&:hover {
			background-color: $fakeBlurColor;
		}
		img {
			float: left;
			width: $oneLineControlsHeight;
			max-width: $oneLineControlsHeight;
			max-height: $oneLineControlsHeight;
		}
		h3 {
			float: left;
			margin-left: 10px;
		}
		&#donate {
			height: auto;
			cursor: default;
			#qrcode {
				display: block;
				position: static;
				clear: both;
				img {
					width: $ControlsWidth;
					max-width: $ControlsWidth;
					max-height: $ControlsWidth;
					margin: {
						top: $oneLineControlsHeight;
						left: $oneLineControlsHeight;
						right: $oneLineControlsHeight;
						bottom: 10px;
					}
					float: none;
				}
			}
		}
		&#githubButton {
			div {
				@include borderNormal;
				@include oneLineControlsHeight (26px);
				font: {
					size: 12px;
					weight: 600;
				}
				background: {
					image: linear-gradient(to bottom, #FAFBFC, #E4EBF0);
					repeat: repeat-x;
					size: 110% 110%;
					color: #EFF3F6;
				}
				margin-left: 1em;
				color: #24292E;
				text-decoration: none;
				outline: 0;
				vertical-align: middle;
				width: $oneLineControlsHeight;
				padding: 0 10px;
				display: inline-block;
				svg {
					fill: #24292E;
					height: 16px;
					position: relative;
					top: 4px;
				}
			}
		}
	}
}

.checkBox {
	position: absolute;
	right: $oneLineControlsHeight;
	width: $ControlsWidth;
	height: $oneLineControlsHeight;
	margin-top: 10px;
	li {
		@include oneLineControlsHeight ($oneLineControlsHeight);
		background-color: transparent;
		display: block;
		float: left;
		width: $ControlsWidth/2;
		box-sizing: border-box;
		text-align: center;
	}
}

input {
	@include borderNormal;
	@include oneLineControlsHeight ($oneLineControlsHeight);
	margin-bottom: 10px;
	font-size: 1em;
	background-color: transparent;
	box-sizing: border-box;
	&:hover {
		background-color: $white;
	}
	&[type=text] {
		padding: {
			left: 10px;
			right: 10px;
		}
	}
	&[type=number] {
		text-align: center;
		-moz-appearance: textfield;
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}
}

legend+input[type=checkbox].select {
	&+label {
		margin-top: 60px;
	}
}

input[type=checkbox].select {
	position: absolute;
	left: -9999px;
	&+label {
		@extend input;
		display: block;
		text-align: center;
		cursor: pointer;
		&+div {
			height: 0;
			overflow: hidden;
			
		}
	}
	&:checked {
		&+label {
			cursor: default;
			font-size: 0;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 40px;
			z-index: 1;
			border-width: 0;
			border-radius: 0;
			background-color: rgba(255, 255, 255, 0.8);
			transition: background 1s ease;
			&+div {
				-webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.3);
				-moz-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.3);
				box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.3);
				position: absolute;
				z-index: 2;
				display: block;
				background-color: #ffffff;
				padding: 20px;
				width: calc(100% - 120px);
				height: 410px;
				overflow: hidden;
				transition: height 0.3s ease;
				h4 {
					display: block;
					clear: both;
					margin: {
						top: 10px;
						bottom: 10px;
					}
				}
				label {
					@include borderNormal;
					@include oneLineControlsHeight(40px);
					min-width: 80px;
					text-align: center;
					margin: {
						right: 10px;
						bottom: 10px;
					}
					padding: {
						left: 10px;
						right: 10px;
					}
					float: left;
					cursor: pointer;
					&#curPsVer {
						background-color: $blue;
						border-width: 0;
						color: $white;
						cursor: default;
					}
				}
			}
		}
	}
}

input[type='checkbox'].switch {
	position: absolute;
	left: -9999px;
	&+label {
		@include oneLineControlsHeight ($oneLineControlsHeight);
		position: absolute;
		right: 0;
		width: $ControlsWidth;
		padding: 0;
		margin: 0;
		border-width: 0;
		cursor: pointer;
		background-color: transparent;
		&::before {
			@include borderNormal;
			@include prefix(transition-property, left, ('-webkit-'));
			@include prefix(transition-duration, 0.5s, ('-webkit-'));
			@include prefix(transition-timing-function, ease, ('-webkit-'));
			content: '';
			position: absolute;
			display: block;
			top: 0;
			bottom: 10px;
			width: $ControlsWidth/2;
			height: $oneLineControlsHeight;
			box-sizing: border-box;
			left: 0;
		}
	}
	&~li:nth-of-type(1) {
		float: left;
		color: $fontColor;
	}
	&~li:nth-of-type(2) {
		display: block;
		float: right;
		color: $fontLightColor;
	}
	&:checked {
		&~li:nth-of-type(1) {
			float: left;
			color: $fontLightColor;
		}
		&~li:nth-of-type(2) {
			display: block;
			float: right;
			color: $fontColor;
		}
		&+label::before {
			@include prefix(transition-property, left, ('-webkit-'));
			@include prefix(transition-duration, 0.5s, ('-webkit-'));
			@include prefix(transition-timing-function, ease, ('-webkit-'));
			left: $ControlsWidth/2;
		}
	}
}