@charset "UTF-8";
@import url(chooselang.css);
@font-face {
  font-family: SourceHanSans;
  src: url("../fonts/SourceHanSans.ttc"), url("../fonts/SourceHanSans.eot");
  /* IE9+ */
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2.2em;
  font-weight: 700;
  height: 2.4em;
  line-height: 2.4em;
}

h2 {
  font-size: 1.8em;
  font-weight: 600;
  height: 2em;
  line-height: 2em;
}

h3 {
  font-size: 1.4em;
  font-weight: 500;
  height: 1.6em;
  line-height: 1.6em;
}

h4 {
  font-size: 1em;
  font-weight: 400;
  height: 1.2em;
  line-height: 1.2em;
}

a {
  text-decoration: none;
}

table {
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-weight: normal;
  font-style: normal;
}

strong {
  font-weight: bold;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

caption,
th {
  text-align: left;
}

q:before,
q:after {
  content: '';
}

/* Custom CSS
 * --------------------------------------- */
body {
  border-width: 1px;
  border-style: solid;
  border-color: #E6E6E6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: SourceHanSans, "微软雅黑 Light", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  background-color: #FFF;
  color: #5E5E5E;
}

.wrap {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  position: relative;
}

p {
  font-size: 1em;
  padding-bottom: 10px;
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}

kbd {
  position: relative;
  top: -4px;
  font-size: 0.8em;
  font-family: SourceHanSans, "微软雅黑 Light", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-box-shadow: 1px 0 1px 0 #EEE, 0 2px 0 2px #CCC, 0 2px 0 3px #666;
          box-shadow: 1px 0 1px 0 #EEE, 0 2px 0 2px #CCC, 0 2px 0 3px #666;
  border-radius: 3px;
  margin: 0 3px 0 3px;
  padding: 1px 5px;
  text-transform: capitalize;
  cursor: default;
}

.intro p {
  width: 50%;
  margin: 0 auto;
  font-size: 1.5em;
}

#menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 70;
  width: 260px;
  padding-top: 40px;
  margin: 0;
  background: rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

#menu li {
  height: 60px;
  line-height: 60px;
  margin: 0;
  width: 260px;
  font-weight: 100;
  text-shadow: 0 0 40px #000, 0 0 80px #000;
}

#menu li.active a {
  font-weight: 600;
  color: #6CF;
  font-size: 1.4em;
  text-shadow: 0 0 30px #6CF, 0 0 80px #6CF;
  cursor: default;
}

#menu li.active a:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent;
}

#menu li a {
  padding-left: 80px;
  display: block;
  height: 100%;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4);
  white-space: nowrap;
}

#menu li a:hover {
  background: #FFF;
  -webkit-box-shadow: 0 0 40px #FFF;
          box-shadow: 0 0 40px #FFF;
  color: #6CF;
}

#exitApp {
  position: absolute;
  z-index: 99;
  right: -80px;
  top: -80px;
  width: 200px;
  height: 200px;
  font-size: 1.2em;
  font-weight: 100;
  text-align: center;
  padding: 0;
  border-radius: 50px;
}

#exitApp:hover {
  background: radial-gradient(rgba(255, 0, 0, 0.2), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

#exitApp:hover a {
  color: #E81123;
}

#exitApp a {
  display: block;
  width: 40px;
  height: 40px;
  margin: 80px;
  color: #5E5E5E;
}

#fullpage {
  padding-top: 0;
  padding-right: 0;
  padding-left: 260px;
  padding-bottom: 0;
}

fieldset {
  padding-top: 0;
  padding-right: 40px;
  padding-bottom: 0;
  padding-left: 40px;
  margin-right: -40px;
  margin-bottom: 0;
  margin-left: -40px;
}

fieldset:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

fieldset legend {
  height: 60px;
  line-height: 60px;
  cursor: default;
  font-size: 1.2em;
  font-weight: 700;
  float: left;
}

fieldset div {
  clear: both;
}

.page {
  cursor: default;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 0;
  padding-left: 40px;
}

div.hotkey {
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  width: 140px;
  font-size: 1em;
  background-color: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: right;
  clear: none;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 4px;
}

div.hotkey:hover {
  border-color: #6CF;
  background-color: #FFF;
}

#langChoose {
  clear: both;
}

.undoredoMode kbd {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.undoredoMode li.lightLine {
  border-radius: 4px;
}

.undoredoMode:hover kbd {
  -webkit-box-shadow: 1px 0 1px 0 #EEE, 0 2px 0 2px #CCC, 0 2px 0 3px #666;
          box-shadow: 1px 0 1px 0 #EEE, 0 2px 0 2px #CCC, 0 2px 0 3px #666;
}

.undoredoMode > .optionList {
  opacity: 0;
}

.undoredoMode:hover > .optionList {
  opacity: 1;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.undoredoMode:hover li.lightLine {
  background-color: rgba(255, 255, 255, 0.6);
  padding-top: 4px;
  padding-bottom: 4px;
}

.optionList {
  margin-top: 10px;
  display: block;
  clear: both;
}

.optionList .checkText,
.optionList .hotkey {
  margin-top: 0;
}

.optionList > li {
  /*
		@include oneLineControlsHeight ($oneLineControlsHeight - 10);
		*/
  cursor: default;
  margin-bottom: 10px;
  margin-left: 35px;
  padding-left: 6px;
  font-weight: 100;
}

.optionList .shortcutsList {
  width: 8em;
  text-align: right;
}

.optionList .shortcutsList kbd {
  font-size: 0.6em;
  -webkit-box-shadow: 1px 0 1px 0 #EEE, 0 2px 0 2px #CCC, 0 2px 0 3px #CCC;
          box-shadow: 1px 0 1px 0 #EEE, 0 2px 0 2px #CCC, 0 2px 0 3px #CCC;
}

#supportList > li {
  height: 40px;
  line-height: 40px;
  padding-top: 10px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-left: 40px;
  margin-right: -40px;
  margin-bottom: 10px;
  margin-left: -40px;
  cursor: pointer;
  clear: both;
  display: block;
}

#supportList > li:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

#supportList > li > img {
  float: left;
  width: 40px;
  max-width: 40px;
  max-height: 40px;
}

#supportList > li > h3 {
  float: left;
  margin-left: 10px;
}

#donate {
  cursor: default;
  height: auto;
}

#qrcode {
  display: block;
  position: static;
  clear: both;
}

#qrcode img {
  width: 140px;
  max-width: 140px;
  max-height: 140px;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 10px;
  float: none;
}

#githubButton div {
  border-width: 1px;
  border-style: solid;
  border-color: #E6E6E6;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 26px;
  line-height: 26px;
  font-size: 12px;
  font-weight: 600;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FAFBFC), to(#E4EBF0));
  background-image: linear-gradient(to bottom, #FAFBFC, #E4EBF0);
  background-repeat: repeat-x;
  background-size: 110% 110%;
  background-color: #EFF3F6;
  margin-left: 1em;
  color: #24292E;
  text-decoration: none;
  outline: 0;
  vertical-align: middle;
  width: 40px;
  padding: 0 10px;
  display: inline-block;
}

#githubButton svg {
  fill: #24292E;
  height: 16px;
  position: relative;
  top: 4px;
}

input {
  border-width: 1px;
  border-style: solid;
  border-color: #E6E6E6;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;
  font-size: 0.8em;
  background-color: transparent;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 4px;
}

input:-ms-input-placeholder {
  color: #D7D7D7;
}

input::-webkit-input-placeholder {
  color: #D7D7D7;
}

input::-ms-input-placeholder {
  color: #D7D7D7;
}

input::placeholder {
  color: #D7D7D7;
}

input:hover, input:focus {
  border-color: #6CF;
  background-color: #FFF;
}

input[type=text] {
  padding-left: 10px;
  padding-right: 10px;
}

input[type=number] {
  text-align: center;
  -moz-appearance: textfield;
}

input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#intervals {
  position: relative;
  z-index: 1;
  float: right;
  width: 140px;
  padding-left: 0;
  padding-right: 70px;
  background-color: transparent;
}

#intervals:hover + #min {
  background-color: #FFF;
}

#min {
  height: 30px;
  line-height: 30px;
  position: relative;
  border-radius: 4px;
  float: right;
  left: 140px;
  width: 70px;
  padding-left: 70px;
  text-align: center;
  font-size: 0.8em;
}

div.button, input[type=checkbox].select + label {
  border-width: 1px;
  border-style: solid;
  border-color: #E6E6E6;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 
	@include oneLineControlsHeight ($oneLineControlsHeight);
	margin-bottom: 10px;
	*/
  font-size: 1em;
  box-sizing: border-box;
  display: block;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
}

div.button:hover, input[type=checkbox].select + label:hover {
  border-color: #6CF;
  color: #6CF;
}

#photoshopPath {
  height: 30px;
  line-height: 30px;
  font-size: 0.6em;
}

input[type=checkbox].select {
  position: absolute;
  left: -9999px;
}

input[type=checkbox].select + label {
  margin-top: 60px;
}

input[type=checkbox].select + label + div {
  overflow: hidden;
  position: absolute;
  z-index: 2;
  width: calc(100% - 160px);
  display: block;
  background-color: #ffffff;
  left: 80px;
  height: 0;
  -webkit-transition: height 0.3s ease;
  transition: height 0.3s ease;
}

input[type=checkbox].select + label + div h4 {
  display: block;
  clear: both;
  margin-top: 10px;
  margin-bottom: 10px;
}

input[type=checkbox].select:checked + label {
  cursor: default;
  font-size: 0;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 40px;
  z-index: 1;
  border-width: 0;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transition: background-color 1s ease;
  transition: background-color 1s ease;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
}

input[type=checkbox].select:checked + label + div {
  -webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.3);
  padding: 20px;
  height: 410px;
  -webkit-transition: height 0.3s ease;
  transition: height 0.3s ease;
}

#psCCList label,
#psCSList label,
#psOLDList label {
  border-width: 1px;
  border-style: solid;
  border-color: #E6E6E6;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 40px;
  line-height: 40px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  width: calc((100% - 20px * 2) / 5 - 24px);
  text-align: center;
  float: left;
}

#psCCList label:hover,
#psCSList label:hover,
#psOLDList label:hover {
  border-color: #6CF;
  color: #6CF;
}

#psCCList label.curPsVer,
#psCSList label.curPsVer,
#psOLDList label.curPsVer {
  cursor: default;
  background-color: #6CF;
  border-width: 0;
  color: #FFF;
}

#psCCList label.curPsVer:hover,
#psCSList label.curPsVer:hover,
#psOLDList label.curPsVer:hover {
  color: #FFF;
}

fieldset > input[type='checkbox'].switch + label {
  margin-top: 10px;
  height: 40px;
  line-height: 40px;
}

fieldset > input[type='checkbox'].switch + label::before {
  height: 40px;
  line-height: 40px;
}

fieldset > input[type='checkbox'].switch + label > ul {
  height: 40px;
}

fieldset > input[type='checkbox'].switch + label > ul li {
  height: 40px;
  line-height: 40px;
  font-size: 1em;
}

fieldset > .hotkey {
  margin-top: 10px;
}

input[type='checkbox'].switch {
  position: absolute;
  left: -9999px;
}

input[type='checkbox'].switch + label {
  /*
		@include oneLineControlsHeight ($oneLineControlsHeight - 10);
		*/
  cursor: pointer;
  position: absolute;
  right: 40px;
  width: 140px;
  padding: 0;
  margin: 0;
  border-width: 0;
  background-color: transparent;
  -webkit-transition: background-color 1s ease;
  transition: background-color 1s ease;
}

input[type='checkbox'].switch + label::before {
  border-width: 1px;
  border-style: solid;
  border-color: #E6E6E6;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  content: '';
  position: absolute;
  display: block;
  top: 0;
  bottom: 10px;
  width: 70px;
  height: 30px;
  box-sizing: border-box;
  left: 0;
}

input[type='checkbox'].switch + label > ul {
  position: absolute;
  right: 0;
  width: 140px;
  height: 30px;
}

input[type='checkbox'].switch + label > ul li {
  height: 30px;
  line-height: 30px;
  background-color: transparent;
  display: block;
  float: left;
  width: 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  font-size: 0.8em;
}

input[type='checkbox'].switch + label > ul li:nth-child(1) {
  float: left;
  color: #5E5E5E;
}

input[type='checkbox'].switch + label > ul li:nth-child(2) {
  display: block;
  float: right;
  color: #D7D7D7;
}

input[type='checkbox'].switch:checked + label > ul li:nth-child(1) {
  float: left;
  color: #D7D7D7;
}

input[type='checkbox'].switch:checked + label > ul li:nth-child(2) {
  display: block;
  float: right;
  color: #5E5E5E;
}

input[type='checkbox'].switch:checked + label::before {
  -webkit-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  left: 70px;
}

#autoSaveSwitch:checked + label + ul.optionList {
  display: block;
}

#autoSaveSwitch + label + ul.optionList {
  display: none;
}

fieldset:hover input[type='text'] {
  border-color: #E6E6E6;
}

#tipText #tipTextSwitch:checked + label + input[type='text'] {
  display: block;
}

#tipText input[type='text'] {
  width: 100%;
  margin-top: 10px;
  display: none;
}
