@charset "UTF-8";
@import url(chooselang.scss);
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 1.8em;
  font-weight: 200;
  height: 60px;
  line-height: 60px;
}

h3 {
  font-size: 1.4em;
}

a {
  text-decoration: none;
}

table {
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-weight: normal;
  font-style: normal;
}

strong {
  font-weight: bold;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

caption,
th {
  text-align: left;
}

q:before,
q:after {
  content: '';
}

abbr,
acronym {
  border: 0;
}

/* Custom CSS
 * --------------------------------------- */
body {
  font-family: "微软雅黑 Light", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  background-color: #FFF;
  color: #5E5E5E;
}

.wrap {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  position: relative;
}

h1 {
  font-size: 6em;
}

p {
  font-size: 1em;
  padding-bottom: 10px;
}

kbd {
  position: relative;
  top: -4px;
  font-size: 0.8em;
  font-family: "微软雅黑 Light", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 1px 0 1px 0 #EEE, 0 2px 0 2px #CCC, 0 2px 0 3px #666;
  border-radius: 3px;
  margin: 0 3px 0 3px;
  padding: 1px 5px;
  cursor: default;
}

.intro p {
  width: 50%;
  margin: 0 auto;
  font-size: 1.5em;
}

#menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 70;
  width: 260px;
  padding-top: 40px;
  margin: 0;
  background: rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

#menu li {
  height: 60px;
  line-height: 60px;
  margin: 0;
  width: 260px;
  font-weight: 100;
  text-shadow: 0 0 40px #000, 0 0 80px #000;
}

#menu li.active a {
  font-weight: 600;
  color: #6CF;
  font-size: 1.4em;
  text-shadow: 0 0 30px #6CF, 0 0 80px #6CF;
  cursor: default;
}

#menu li.active a:hover {
  box-shadow: none;
  background: transparent;
}

#menu li a {
  padding-left: 80px;
  display: block;
  height: 100%;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4);
  white-space: nowrap;
}

#menu li a:hover {
  background: #FFF;
  box-shadow: 0 0 40px #FFF;
  color: #6CF;
}

#exitApp {
  height: 40px;
  line-height: 40px;
  width: 40px;
  font-size: 1.2em;
  font-weight: 100;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  padding: 0;
  z-index: 99;
}

#exitApp:hover a {
  color: #E81123;
  background-color: rgba(232, 17, 35, 0.19);
  border-radius: 20px;
  box-shadow: 0 0 160px 0 #E81123, 0 0 100px 0 #E81123;
}

#exitApp a {
  position: relative;
  display: block;
  height: 40px;
  color: #5E5E5E;
}

#fullpage {
  padding-top: 0;
  padding-right: 0;
  padding-left: 260px;
  padding-bottom: 0;
}

fieldset {
  padding-top: 0;
  padding-right: 40px;
  padding-bottom: 0;
  padding-left: 40px;
  margin-right: -40px;
  margin-bottom: 10px;
  margin-left: -40px;
}

fieldset:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

fieldset legend {
  height: 60px;
  line-height: 60px;
  font-size: 1.4em;
  font-weight: 200;
  cursor: default;
  float: left;
}

fieldset div {
  clear: both;
}

.page {
  cursor: default;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 0;
  padding-left: 40px;
}

div.hotkey {
  border-width: 1px;
  border-style: solid;
  border-color: #E6E6E6;
  border-radius: 4px;
  height: 40px;
  line-height: 40px;
  width: 200px;
  font-size: 1em;
  background-color: transparent;
  box-sizing: border-box;
  float: right;
  clear: none;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  text-align: center;
}

div.hotkey:hover {
  background-color: #FFF;
}

#intervals {
  position: relative;
  z-index: 1;
  float: right;
  width: 200px;
  padding-left: 0;
  padding-right: 100px;
  background-color: transparent;
}

#intervals:hover + #min {
  background-color: #FFF;
}

#min {
  border-radius: 4px;
  float: right;
  position: relative;
  left: 200px;
  width: 100px;
  padding-left: 100px;
  text-align: center;
}

#langChoose {
  clear: both;
}

.undoredoMode kbd {
  box-shadow: none;
}

.undoredoMode li.lightLine {
  border-radius: 4px;
}

.undoredoMode:hover kbd {
  box-shadow: 1px 0 1px 0 #EEE, 0 2px 0 2px #CCC, 0 2px 0 3px #666;
}

.undoredoMode > .optionList {
  opacity: 0;
}

.undoredoMode:hover > .optionList {
  opacity: 1;
  transition: opacity 1s ease;
}

.undoredoMode:hover li.lightLine {
  background-color: #FFF;
}

.optionList {
  margin-top: 10px;
  display: block;
  clear: both;
}

.optionList .checkText,
.optionList .hotkey {
  margin-top: 0;
}

.optionList > li {
  height: 40px;
  line-height: 40px;
  margin-bottom: 10px;
  padding-left: 10px;
  cursor: default;
}

#supportList > li {
  height: 40px;
  line-height: 40px;
  padding-top: 10px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-left: 40px;
  margin-right: -40px;
  margin-bottom: 10px;
  margin-left: -40px;
  cursor: pointer;
  clear: both;
  display: block;
}

#supportList > li:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

#supportList > li > img {
  float: left;
  width: 40px;
  max-width: 40px;
  max-height: 40px;
}

#supportList > li > h3 {
  float: left;
  margin-left: 10px;
}

#donate {
  height: auto;
  cursor: default;
}

#qrcode {
  display: block;
  position: static;
  clear: both;
}

#qrcode img {
  width: 200px;
  max-width: 200px;
  max-height: 200px;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 10px;
  float: none;
}

#githubButton div {
  border-width: 1px;
  border-style: solid;
  border-color: #E6E6E6;
  border-radius: 4px;
  height: 26px;
  line-height: 26px;
  font-size: 12px;
  font-weight: 600;
  background-image: linear-gradient(to bottom, #FAFBFC, #E4EBF0);
  background-repeat: repeat-x;
  background-size: 110% 110%;
  background-color: #EFF3F6;
  margin-left: 1em;
  color: #24292E;
  text-decoration: none;
  outline: 0;
  vertical-align: middle;
  width: 40px;
  padding: 0 10px;
  display: inline-block;
}

#githubButton svg {
  fill: #24292E;
  height: 16px;
  position: relative;
  top: 4px;
}

.checkBox {
  position: absolute;
  right: 40px;
  width: 200px;
  height: 40px;
  margin-top: 10px;
}

.checkBox li {
  height: 40px;
  line-height: 40px;
  background-color: transparent;
  display: block;
  float: left;
  width: 100px;
  box-sizing: border-box;
  text-align: center;
}

input {
  border-width: 1px;
  border-style: solid;
  border-color: #E6E6E6;
  border-radius: 4px;
  height: 40px;
  line-height: 40px;
  margin-bottom: 10px;
  font-size: 1em;
  background-color: transparent;
  box-sizing: border-box;
}

input:hover {
  background-color: #FFF;
}

input[type=text] {
  padding-left: 10px;
  padding-right: 10px;
}

input[type=number] {
  text-align: center;
  -moz-appearance: textfield;
}

input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

legend + input[type=checkbox].select + label {
  margin-top: 60px;
}

input[type=checkbox].select {
  position: absolute;
  left: -9999px;
}

input[type=checkbox].select + label {
  border-width: 1px;
  border-style: solid;
  border-color: #E6E6E6;
  border-radius: 4px;
  height: 40px;
  line-height: 40px;
  margin-bottom: 10px;
  font-size: 1em;
  box-sizing: border-box;
  display: block;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
}

input[type=checkbox].select + label + div {
  height: 0;
  overflow: hidden;
}

input[type=checkbox].select + label + div h4 {
  display: block;
  clear: both;
  margin-top: 10px;
  margin-bottom: 10px;
}

input[type=checkbox].select:checked + label {
  cursor: default;
  font-size: 0;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 40px;
  z-index: 1;
  border-width: 0;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.9);
  transition: background-color 1s ease;
}

input[type=checkbox].select:checked + label + div {
  -webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 2;
  display: block;
  background-color: #ffffff;
  padding: 20px;
  width: calc(100% - 120px);
  height: 410px;
  overflow: hidden;
  transition: height 0.3s ease;
}

#psCCList label,
#psCSList label,
#psOLDList label {
  border-width: 1px;
  border-style: solid;
  border-color: #E6E6E6;
  border-radius: 4px;
  height: 40px;
  line-height: 40px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 80px;
  text-align: center;
  float: left;
  cursor: pointer;
}

#psCCList label:hover,
#psCSList label:hover,
#psOLDList label:hover {
  border-color: #6CF;
  color: #6CF;
}

#psCCList label.curPsVer,
#psCSList label.curPsVer,
#psOLDList label.curPsVer {
  background-color: #6CF;
  border-width: 0;
  color: #FFF;
  cursor: default;
}

#psCCList label.curPsVer:hover,
#psCSList label.curPsVer:hover,
#psOLDList label.curPsVer:hover {
  color: #FFF;
}

input[type='checkbox'].switch {
  position: absolute;
  left: -9999px;
}

input[type='checkbox'].switch + label {
  height: 40px;
  line-height: 40px;
  position: absolute;
  right: 0;
  width: 200px;
  padding: 0;
  margin: 0;
  border-width: 0;
  cursor: pointer;
  background-color: transparent;
}

input[type='checkbox'].switch + label::before {
  border-width: 1px;
  border-style: solid;
  border-color: #E6E6E6;
  border-radius: 4px;
  -webkit-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  content: '';
  position: absolute;
  display: block;
  top: 0;
  bottom: 10px;
  width: 100px;
  height: 40px;
  box-sizing: border-box;
  left: 0;
}

input[type='checkbox'].switch ~ li:nth-of-type(1) {
  float: left;
  color: #5E5E5E;
}

input[type='checkbox'].switch ~ li:nth-of-type(2) {
  display: block;
  float: right;
  color: #D7D7D7;
}

input[type='checkbox'].switch:checked ~ li:nth-of-type(1) {
  float: left;
  color: #D7D7D7;
}

input[type='checkbox'].switch:checked ~ li:nth-of-type(2) {
  display: block;
  float: right;
  color: #5E5E5E;
}

input[type='checkbox'].switch:checked + label::before {
  -webkit-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  left: 100px;
}
